@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #F9F9F9;
    --cor-terciaria: #C0C0C0;
    --cor-botao: #167BF7;

    --font: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #00030C;
    color: var(--cor-primaria);
    font-family: var(--font);
    

}

.corpo {
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    height: 100%;
}

.corpo__tipo__primario {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0% 8%;
}

.corpo__primario__combo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 54px;
    text-align: center;
    align-items: center;
    gap: 1em;
}


.img__combo {
    width: 348px;
}

.titulo {
    font-size: 1.75rem;
    font-style: bold;
}

.botao {
    text-decoration: none;
    color: var(--cor-primaria);
    border-radius: 8px;
}

.botao:hover {
    background-color: rgba(151, 19, 228, 0.685);
    color: black;
}

.botao__combo {
    padding: 16px 0px;
    width: 512px;
}

.botao__borda {
    border: 2px solid;

}

.botao__azul {
    background-color: var(--cor-botao);
}

.texto__ofuscado {
    color: var(--cor-terciaria);
}

.combo__descricao {
    font-size: .75rem;
}

.corpo__tipo__secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 100px 8%;
}

.corpo__secundario__texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titulo__subtitulo {
    font-size: 3rem;
}

.botao__assine {
    padding: 16px;
    width: 160px;
    text-align: center;
}

.corpo__tipo__terciario {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 145px 8%;
}

.corpo__terciario__plataformas {
    display: flex;
}

.nome__plataformas {
    font-style: bold;
    font-size: 2rem;
}

.rodape {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
   text-align: center;
   padding: 0% 8%;
}

.rodape__links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.rodape__links__link {
    text-decoration: none;
    color: var(--cor-primaria);
}

.rodape__links__link:hover {
    color: #3b74b1;
}

.texto__rodape {
    font-size: .875rem;
    padding: 0px 8%;
}

@media (max-width: 1000px) {
    body {
        background-image: url(assets/BackgroundCortado.png);
        background-repeat: no-repeat;
    }

    .corpo {
        justify-content: center;
        align-items: center;
    }

    .corpo__tipo__primario{
        grid-template-columns: 100%;
    }

    .corpo__primario__combo{
        padding: 15% 8%;
    }

    .corpo__tipo__secundario {
        flex-direction: column;
    }

    .img__plataformas {
        width: 90%;
    }

    .rodape__links{
        padding: 0% 8%;
    }
}